<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link" style="background-color: #e40000"><a href="{{site.baseurl}}/">{{site.title}}</a></li>
             <li class="link"><a href="{{site.baseurl}}/">Blog</a></li>
              <li class="link"><a href="{{site.baseurl}}/archive/">Archivos</a></li>
              <!--<li class="dropdown link">
                <a href="#" class="dropbtn">Dropdown ↓</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </li>-->
            <li class="link"><a href="{{site.baseurl}}/about/">Sobre mi</a></li>  
            </ul>
    </nav>
</div>